@model TastyFood.Models.Coupon
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Delete Coupon</h2>
<br />

<form asp-action="Delete" method="post" enctype="multipart/form-data">
    <div class="row container form-border">
        <br />
        @if (Model.Picture != null)
        {
            <div class="col-12 border">
                @{
                    var imgSrc = "";
                    if (Model.Picture != null)
                    {
                        var base64 = Convert.ToBase64String(Model.Picture);
                        imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                    }
                }

                <img src="@imgSrc" style="height: 53px; width: 100%;" />
            </div>
                    }

        <div class="col-6">
            <input type="hidden" asp-for="Id" />
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Picture" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input id="projectImage" name="files" type="file" multiple class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CouponType" class="custom-label"></label>
                    </div>
                    @{
                        var couponTypeText = "";
                        if (!string.IsNullOrEmpty(Model.CouponType))
                        {
                            int enumIdx = int.Parse(Model.CouponType);
                            couponTypeText = Enum.GetName(typeof(Coupon.ECouponType), enumIdx);
                        }
                    }
                    <div class="col-8">
                        @Html.TextBox("txtCouponType", couponTypeText, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Discount" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Discount" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MinimumAmount" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MinimumAmount" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="isActive" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input type="checkbox" asp-for="isActive" class="form-control" />
                    </div>
                </div>
            </fieldset>            
        </div>
        <div class="col-12" style="padding-top: 10px;">
            <input type="submit" value="Delete" asp-route-id="@Model.Id" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

