@model TastyFood.Models.OrderListViewModels.OrderListViewModel

@{
    ViewData["Title"] = "Orders History";
}

<h2>Orders History</h2>
<br />

@if (Model.Orders.Count > 0)
{
    @foreach(var item in Model.Orders)
    {
        @Html.Partial("_IndividualOrderDetails", item)
    }
}
else
{
    <p>No past orders available...</p>
}
<br />
<div class="btn-group m-1" page-model="@Model.PagingInfo" page-action="OrderHistory" 
     page-classes-enabled="true" page-class="btn border" 
     page-class-normal="btn btn-default active" 
     page-class-selected="btn btn-primary active">
</div>
<br />
